---
import { Image } from "astro:assets";
import CartButton from "./CartButton.astro";

const { id, name, price, image } = Astro.props;
---

<div
  class="carousel-card h-80 border-subtitle shrink-0 lg:my-4 flex w-[60dvw] md:w-60 flex-col items-center border p-4 shadow-lg hover:-translate-y-2 hover:shadow-xl"
>
  <Image src={image} alt={name} />
  <h2 class="text-subtitle text-lg">{name}</h2>
  <div class="mt-auto flex items-center justify-between">
    <p class="px-4 text-base">${price}</p><CartButton
      {id}
      {name}
      {price}
      {image}
    />
  </div>
</div>
